*~
*#
*.o
*.o.*
*.a
*.so
*.so.dbg
*.lex.c
*.tab.[ch]
*.manifest
*.DS_Store
*.beam
!Makefile.beam
*.cmd
*.d
*.tmp
src/**/*.app
.envrc
erl_crash.dump
config.mk
.working
.ctn-share
.config
.config.old
perf.data
/build/
/kbuild/